################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/LocationBackgroundTask/obj/x86/Release/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/x86/Debug/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LocationBackgroundTask/obj/x64/Release/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.winmdobj
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.winmd
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.pdb
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.csprojAssemblyReference.cache
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.csproj.FileListAbsolute.txt
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.csproj.CopyComplete
/LocationBackgroundTask/obj/x64/Debug/LocationBackgroundTask.compile.pdb
/LocationBackgroundTask/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/GpsTestProject/v16/Server/sqlite3/storage.ide-wal
/.vs/GpsTestProject/v16/Server/sqlite3/storage.ide-shm
/.vs/GpsTestProject/v16/Server/sqlite3/storage.ide
/.vs/GpsTestProject/v16/Server/sqlite3/db.lock
/.vs/GpsTestProject/v16/.suo
/BackgroundTask/bin/x64/Debug/Microsoft.UI.Xaml.Markup.winmd
/BackgroundTask/bin/x64/Debug/BackgroundTask.winmd
/BackgroundTask/bin/x64/Debug/BackgroundTask.pri
/BackgroundTask/bin/x64/Debug/BackgroundTask.pdb
/BackgroundTask/obj/ARM64/Release/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/ARM64/Debug/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/ARM/Release/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/ARM/Debug/BackgroundTask.csprojAssemblyReference.cache
/BackgroundTask/obj/ARM/Debug/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/BackgroundTask.csproj.nuget.g.targets
/BackgroundTask/obj/BackgroundTask.csproj.nuget.g.props
/BackgroundTask/obj/BackgroundTask.csproj.nuget.dgspec.json
/BackgroundTask/obj/x86/Release/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/x86/Debug/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/x64/Release/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/x64/Debug/unfiltered.layout.resfiles.intermediate
/BackgroundTask/obj/x64/Debug/unfiltered.layout.resfiles
/BackgroundTask/obj/x64/Debug/resources.resfiles.intermediate
/BackgroundTask/obj/x64/Debug/resources.resfiles
/BackgroundTask/obj/x64/Debug/qualifiers.txt.intermediate
/BackgroundTask/obj/x64/Debug/qualifiers.txt
/BackgroundTask/obj/x64/Debug/priconfig.xml.intermediate
/BackgroundTask/obj/x64/Debug/priconfig.xml
/BackgroundTask/obj/x64/Debug/pri.resfiles.intermediate
/BackgroundTask/obj/x64/Debug/pri.resfiles
/BackgroundTask/obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
/BackgroundTask/obj/x64/Debug/filtered.layout.resfiles.intermediate
/BackgroundTask/obj/x64/Debug/filtered.layout.resfiles
/BackgroundTask/obj/x64/Debug/excluded.layout.resfiles.intermediate
/BackgroundTask/obj/x64/Debug/excluded.layout.resfiles
/BackgroundTask/obj/x64/Debug/embed/embed.resfiles.intermediate
/BackgroundTask/obj/x64/Debug/embed/embed.resfiles
/BackgroundTask/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BackgroundTask/obj/x64/Debug/BackgroundTask.winmdobj
/BackgroundTask/obj/x64/Debug/BackgroundTask.winmd
/BackgroundTask/obj/x64/Debug/BackgroundTask.pdb
/BackgroundTask/obj/x64/Debug/BackgroundTask.csprojAssemblyReference.cache
/BackgroundTask/obj/x64/Debug/BackgroundTask.csproj.FileListAbsolute.txt
/BackgroundTask/obj/x64/Debug/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/x64/Debug/BackgroundTask.csproj.CopyComplete
/BackgroundTask/obj/x64/Debug/BackgroundTask.compile.pdb
/BackgroundTask/obj/Release/BackgroundTask.csprojAssemblyReference.cache
/BackgroundTask/obj/Release/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/project.assets.json
/BackgroundTask/obj/Debug/BackgroundTask.csprojAssemblyReference.cache
/BackgroundTask/obj/Debug/BackgroundTask.csproj.CoreCompileInputs.cache
/BackgroundTask/obj/BackgroundTask.csproj.nuget.cache
/GpsTestProject/bin/x64/Debug/System.Runtime.dll
/GpsTestProject/bin/x64/Debug/Styles/Styles.xbf
/GpsTestProject/bin/x64/Debug/resources.pri
/GpsTestProject/bin/x64/Debug/Microsoft.UI.Xaml.Markup.winmd
/GpsTestProject/bin/x64/Debug/MainPage.xbf
/GpsTestProject/bin/x64/Debug/GpsTestProject.xr.xml
/GpsTestProject/bin/x64/Debug/GpsTestProject.pdb
/GpsTestProject/bin/x64/Debug/GpsTestProject.exe
/GpsTestProject/bin/x64/Debug/GpsTestProject.build.appxrecipe
/GpsTestProject/bin/x64/Debug/Core/GpsTestProject.exe
/GpsTestProject/bin/x64/Debug/Core/AppxManifest.xml
/GpsTestProject/bin/x64/Debug/AppxManifest.xml
/GpsTestProject/bin/x64/Debug/AppX/WinMetadata/Windows.winmd
/GpsTestProject/bin/x64/Debug/AppX/vs.appxrecipe
/GpsTestProject/bin/x64/Debug/AppX/System.Runtime.dll
/GpsTestProject/bin/x64/Debug/AppX/Styles/Styles.xbf
/GpsTestProject/bin/x64/Debug/AppX/resources.pri
/GpsTestProject/bin/x64/Debug/AppX/Properties/Default.rd.xml
/GpsTestProject/bin/x64/Debug/AppX/Microsoft.UI.Xaml.Markup.winmd
/GpsTestProject/bin/x64/Debug/AppX/MainPage.xbf
/GpsTestProject/bin/x64/Debug/AppX/GpsTestProject.xr.xml
/GpsTestProject/bin/x64/Debug/AppX/GpsTestProject.exe
/GpsTestProject/bin/x64/Debug/AppX/entrypoint/GpsTestProject.exe
/GpsTestProject/bin/x64/Debug/AppX/Assets/Wide310x150Logo.scale-200.png
/GpsTestProject/bin/x64/Debug/AppX/Assets/StoreLogo.png
/GpsTestProject/bin/x64/Debug/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
/GpsTestProject/bin/x64/Debug/AppX/Assets/Square44x44Logo.scale-200.png
/GpsTestProject/bin/x64/Debug/AppX/Assets/Square150x150Logo.scale-200.png
/GpsTestProject/bin/x64/Debug/AppX/Assets/SplashScreen.scale-200.png
/GpsTestProject/bin/x64/Debug/AppX/Assets/LockScreenLogo.scale-200.png
/GpsTestProject/bin/x64/Debug/AppX/AppxManifest.xml
/GpsTestProject/bin/x64/Debug/AppX/App.xbf
/GpsTestProject/bin/x64/Debug/App.xbf
/GpsTestProject/obj/x86/Release/XamlTypeInfo.g.cs
/GpsTestProject/obj/x86/Release/XamlSaveStateFile.xml
/GpsTestProject/obj/x86/Release/Styles/Styles.g.i.cs
/GpsTestProject/obj/x86/Release/MainPage.g.i.cs
/GpsTestProject/obj/x86/Release/MainPage.g.cs.backup
/GpsTestProject/obj/x86/Release/MainPage.g.cs
/GpsTestProject/obj/x86/Release/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/x86/Release/App.g.i.cs
/GpsTestProject/obj/x86/Release/App.g.cs.backup
/GpsTestProject/obj/x86/Release/App.g.cs
/GpsTestProject/obj/x86/Debug/XamlTypeInfo.g.cs
/GpsTestProject/obj/x86/Debug/XamlSaveStateFile.xml
/GpsTestProject/obj/x86/Debug/Styles/Styles.g.i.cs
/GpsTestProject/obj/x86/Debug/MainPage.g.i.cs
/GpsTestProject/obj/x86/Debug/MainPage.g.cs.backup
/GpsTestProject/obj/x86/Debug/MainPage.g.cs
/GpsTestProject/obj/x86/Debug/GpsTestProject.csprojAssemblyReference.cache
/GpsTestProject/obj/x86/Debug/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GpsTestProject/obj/x86/Debug/App.g.i.cs
/GpsTestProject/obj/x86/Debug/App.g.cs.backup
/GpsTestProject/obj/x86/Debug/App.g.cs
/GpsTestProject/obj/x64/Release/XamlTypeInfo.g.cs
/GpsTestProject/obj/x64/Release/XamlSaveStateFile.xml
/GpsTestProject/obj/x64/Release/Styles/Styles.g.i.cs
/GpsTestProject/obj/x64/Release/MainPage.g.i.cs
/GpsTestProject/obj/x64/Release/MainPage.g.cs.backup
/GpsTestProject/obj/x64/Release/MainPage.g.cs
/GpsTestProject/obj/x64/Release/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/x64/Release/App.g.i.cs
/GpsTestProject/obj/x64/Release/App.g.cs.backup
/GpsTestProject/obj/x64/Release/App.g.cs
/GpsTestProject/obj/x64/Debug/XamlTypeInfo.g.cs
/GpsTestProject/obj/x64/Debug/XamlSaveStateFile.xml
/GpsTestProject/obj/x64/Debug/unfiltered.layout.resfiles.intermediate
/GpsTestProject/obj/x64/Debug/unfiltered.layout.resfiles
/GpsTestProject/obj/x64/Debug/Styles/Styles.xbf
/GpsTestProject/obj/x64/Debug/Styles/Styles.xaml
/GpsTestProject/obj/x64/Debug/Styles/Styles.g.i.cs
/GpsTestProject/obj/x64/Debug/Styles/Styles.g.cs
/GpsTestProject/obj/x64/Debug/resources.resfiles.intermediate
/GpsTestProject/obj/x64/Debug/resources.resfiles
/GpsTestProject/obj/x64/Debug/ResourceHandlingTask.state
/GpsTestProject/obj/x64/Debug/qualifiers.txt.intermediate
/GpsTestProject/obj/x64/Debug/qualifiers.txt
/GpsTestProject/obj/x64/Debug/ProjectArchitectures.txt
/GpsTestProject/obj/x64/Debug/priconfig.xml.intermediate
/GpsTestProject/obj/x64/Debug/priconfig.xml
/GpsTestProject/obj/x64/Debug/pri.resfiles.intermediate
/GpsTestProject/obj/x64/Debug/pri.resfiles
/GpsTestProject/obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
/GpsTestProject/obj/x64/Debug/MainPage.xbf
/GpsTestProject/obj/x64/Debug/MainPage.xaml
/GpsTestProject/obj/x64/Debug/MainPage.g.i.cs
/GpsTestProject/obj/x64/Debug/MainPage.g.cs
/GpsTestProject/obj/x64/Debug/intermediatexaml/GpsTestProject.pdb
/GpsTestProject/obj/x64/Debug/intermediatexaml/GpsTestProject.exe
/GpsTestProject/obj/x64/Debug/GpsTestProject.xr.xml
/GpsTestProject/obj/x64/Debug/GpsTestProject.pdb
/GpsTestProject/obj/x64/Debug/GpsTestProject.exe
/GpsTestProject/obj/x64/Debug/GpsTestProject.csprojAssemblyReference.cache
/GpsTestProject/obj/x64/Debug/GpsTestProject.csproj.FileListAbsolute.txt
/GpsTestProject/obj/x64/Debug/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/x64/Debug/GpsTestProject.csproj.CopyComplete
/GpsTestProject/obj/x64/Debug/filtered.layout.resfiles.intermediate
/GpsTestProject/obj/x64/Debug/filtered.layout.resfiles
/GpsTestProject/obj/x64/Debug/excluded.layout.resfiles.intermediate
/GpsTestProject/obj/x64/Debug/excluded.layout.resfiles
/GpsTestProject/obj/x64/Debug/embed/embed.resfiles.intermediate
/GpsTestProject/obj/x64/Debug/embed/embed.resfiles
/GpsTestProject/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GpsTestProject/obj/x64/Debug/App.xbf
/GpsTestProject/obj/x64/Debug/App.xaml
/GpsTestProject/obj/x64/Debug/App.g.i.cs
/GpsTestProject/obj/x64/Debug/App.g.cs
/GpsTestProject/obj/x64/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_636884986160000000.json
/GpsTestProject/obj/project.assets.json
/GpsTestProject/obj/GpsTestProject.csproj.nuget.g.targets
/GpsTestProject/obj/GpsTestProject.csproj.nuget.g.props
/GpsTestProject/obj/GpsTestProject.csproj.nuget.dgspec.json
/GpsTestProject/obj/GpsTestProject.csproj.nuget.cache
/GpsTestProject/obj/ARM64/Release/XamlTypeInfo.g.cs
/GpsTestProject/obj/ARM64/Release/XamlSaveStateFile.xml
/GpsTestProject/obj/ARM64/Release/Styles/Styles.g.i.cs
/GpsTestProject/obj/ARM64/Release/MainPage.g.i.cs
/GpsTestProject/obj/ARM64/Release/MainPage.g.cs.backup
/GpsTestProject/obj/ARM64/Release/MainPage.g.cs
/GpsTestProject/obj/ARM64/Release/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/ARM64/Release/App.g.i.cs
/GpsTestProject/obj/ARM64/Release/App.g.cs.backup
/GpsTestProject/obj/ARM64/Release/App.g.cs
/GpsTestProject/obj/ARM64/Debug/XamlTypeInfo.g.cs
/GpsTestProject/obj/ARM64/Debug/XamlSaveStateFile.xml
/GpsTestProject/obj/ARM64/Debug/Styles/Styles.g.i.cs
/GpsTestProject/obj/ARM64/Debug/MainPage.g.i.cs
/GpsTestProject/obj/ARM64/Debug/MainPage.g.cs.backup
/GpsTestProject/obj/ARM64/Debug/MainPage.g.cs
/GpsTestProject/obj/ARM64/Debug/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/ARM64/Debug/App.g.i.cs
/GpsTestProject/obj/ARM64/Debug/App.g.cs.backup
/GpsTestProject/obj/ARM64/Debug/App.g.cs
/GpsTestProject/obj/ARM/Release/XamlTypeInfo.g.cs
/GpsTestProject/obj/ARM/Release/XamlSaveStateFile.xml
/GpsTestProject/obj/ARM/Release/Styles/Styles.g.i.cs
/GpsTestProject/obj/ARM/Release/MainPage.g.i.cs
/GpsTestProject/obj/ARM/Release/MainPage.g.cs.backup
/GpsTestProject/obj/ARM/Release/MainPage.g.cs
/GpsTestProject/obj/ARM/Release/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/ARM/Release/App.g.i.cs
/GpsTestProject/obj/ARM/Release/App.g.cs.backup
/GpsTestProject/obj/ARM/Release/App.g.cs
/GpsTestProject/obj/ARM/Debug/XamlTypeInfo.g.cs
/GpsTestProject/obj/ARM/Debug/XamlSaveStateFile.xml
/GpsTestProject/obj/ARM/Debug/Styles/Styles.g.i.cs
/GpsTestProject/obj/ARM/Debug/MainPage.g.i.cs
/GpsTestProject/obj/ARM/Debug/MainPage.g.cs.backup
/GpsTestProject/obj/ARM/Debug/MainPage.g.cs
/GpsTestProject/obj/ARM/Debug/GpsTestProject.csprojAssemblyReference.cache
/GpsTestProject/obj/ARM/Debug/GpsTestProject.csproj.CoreCompileInputs.cache
/GpsTestProject/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GpsTestProject/obj/ARM/Debug/App.g.i.cs
/GpsTestProject/obj/ARM/Debug/App.g.cs.backup
/GpsTestProject/obj/ARM/Debug/App.g.cs
/LocationBackgroundTask/bin/x64/Debug/WindowsBase.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.XPath.XDocument.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.XPath.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.XmlSerializer.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.XmlDocument.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.XDocument.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.Serialization.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.ReaderWriter.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.Linq.dll
/LocationBackgroundTask/bin/x64/Debug/System.Xml.dll
/LocationBackgroundTask/bin/x64/Debug/System.Windows.dll
/LocationBackgroundTask/bin/x64/Debug/System.Web.HttpUtility.dll
/LocationBackgroundTask/bin/x64/Debug/System.Web.dll
/LocationBackgroundTask/bin/x64/Debug/System.ValueTuple.dll
/LocationBackgroundTask/bin/x64/Debug/System.Transactions.Local.dll
/LocationBackgroundTask/bin/x64/Debug/System.Transactions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Timer.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.ThreadPool.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Thread.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Tasks.Parallel.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Tasks.Extensions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Tasks.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Tasks.Dataflow.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.Overlapped.dll
/LocationBackgroundTask/bin/x64/Debug/System.Threading.dll
/LocationBackgroundTask/bin/x64/Debug/System.Text.RegularExpressions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Text.Encoding.Extensions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Text.Encoding.dll
/LocationBackgroundTask/bin/x64/Debug/System.Text.Encoding.CodePages.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceProcess.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.Web.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.Security.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.NetTcp.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.Http.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.Duplex.dll
/LocationBackgroundTask/bin/x64/Debug/System.ServiceModel.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.SecureString.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Principal.Windows.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Principal.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Permissions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Cryptography.X509Certificates.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Cryptography.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Cryptography.Encoding.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Cryptography.Csp.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Cryptography.Cng.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Cryptography.Algorithms.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.Claims.dll
/LocationBackgroundTask/bin/x64/Debug/System.Security.AccessControl.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.WindowsRuntime.UI.Xaml.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.WindowsRuntime.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Serialization.Xml.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Serialization.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Serialization.Json.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Serialization.Formatters.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Serialization.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Numerics.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.InteropServices.WindowsRuntime.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.InteropServices.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Handles.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.Extensions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.CompilerServices.VisualC.dll
/LocationBackgroundTask/bin/x64/Debug/System.Runtime.CompilerServices.Unsafe.dll
/LocationBackgroundTask/bin/x64/Debug/System.Resources.Writer.dll
/LocationBackgroundTask/bin/x64/Debug/System.Resources.ResourceManager.dll
/LocationBackgroundTask/bin/x64/Debug/System.Resources.Reader.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.TypeExtensions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Metadata.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Extensions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Emit.Lightweight.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Emit.ILGeneration.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Emit.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.DispatchProxy.dll
/LocationBackgroundTask/bin/x64/Debug/System.Reflection.Context.dll
/LocationBackgroundTask/bin/x64/Debug/System.Private.Xml.Linq.dll
/LocationBackgroundTask/bin/x64/Debug/System.Private.Xml.dll
/LocationBackgroundTask/bin/x64/Debug/System.Private.Uri.dll
/LocationBackgroundTask/bin/x64/Debug/System.Private.ServiceModel.dll
/LocationBackgroundTask/bin/x64/Debug/System.Private.Reflection.Metadata.Ecma335.dll
/LocationBackgroundTask/bin/x64/Debug/System.Private.DataContractSerialization.dll
/LocationBackgroundTask/bin/x64/Debug/System.ObjectModel.dll
/LocationBackgroundTask/bin/x64/Debug/System.Numerics.Vectors.WindowsRuntime.dll
/LocationBackgroundTask/bin/x64/Debug/System.Numerics.Vectors.dll
/LocationBackgroundTask/bin/x64/Debug/System.Numerics.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.WebSockets.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.WebSockets.Client.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.WebProxy.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.WebHeaderCollection.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.WebClient.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Sockets.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.ServicePoint.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Security.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Requests.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Ping.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.NetworkInformation.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.NameResolution.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Mail.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.HttpListener.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Http.Rtc.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.Http.dll
/LocationBackgroundTask/bin/x64/Debug/System.Net.dll
/LocationBackgroundTask/bin/x64/Debug/System.Memory.dll
/LocationBackgroundTask/bin/x64/Debug/System.Linq.Queryable.dll
/LocationBackgroundTask/bin/x64/Debug/System.Linq.Parallel.dll
/LocationBackgroundTask/bin/x64/Debug/System.Linq.Expressions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Linq.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.UnmanagedMemoryStream.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.Ports.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.Pipes.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.Pipes.AccessControl.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.MemoryMappedFiles.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.IsolatedStorage.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.FileSystem.Watcher.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.FileSystem.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.FileSystem.DriveInfo.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.FileSystem.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.Compression.ZipFile.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.Compression.FileSystem.dll
/LocationBackgroundTask/bin/x64/Debug/System.IO.Compression.dll
/LocationBackgroundTask/bin/x64/Debug/System.Globalization.Extensions.dll
/LocationBackgroundTask/bin/x64/Debug/System.Globalization.dll
/LocationBackgroundTask/bin/x64/Debug/System.Globalization.Calendars.dll
/LocationBackgroundTask/bin/x64/Debug/System.Dynamic.Runtime.dll
/LocationBackgroundTask/bin/x64/Debug/System.Drawing.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.Drawing.dll
/LocationBackgroundTask/bin/x64/Debug/System.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.Tracing.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.TraceSource.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.Tools.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.TextWriterTraceListener.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.StackTrace.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.Process.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.FileVersionInfo.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.DiagnosticSource.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.Debug.dll
/LocationBackgroundTask/bin/x64/Debug/System.Diagnostics.Contracts.dll
/LocationBackgroundTask/bin/x64/Debug/System.Data.SqlClient.dll
/LocationBackgroundTask/bin/x64/Debug/System.Data.dll
/LocationBackgroundTask/bin/x64/Debug/System.Data.Common.dll
/LocationBackgroundTask/bin/x64/Debug/System.Core.dll
/LocationBackgroundTask/bin/x64/Debug/System.Console.dll
/LocationBackgroundTask/bin/x64/Debug/System.Configuration.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.TypeConverter.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.EventBasedAsync.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.DataAnnotations.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.Composition.dll
/LocationBackgroundTask/bin/x64/Debug/System.ComponentModel.Annotations.dll
/LocationBackgroundTask/bin/x64/Debug/System.Collections.Specialized.dll
/LocationBackgroundTask/bin/x64/Debug/System.Collections.NonGeneric.dll
/LocationBackgroundTask/bin/x64/Debug/System.Collections.Immutable.dll
/LocationBackgroundTask/bin/x64/Debug/System.Collections.dll
/LocationBackgroundTask/bin/x64/Debug/System.Collections.Concurrent.dll
/LocationBackgroundTask/bin/x64/Debug/System.Buffers.dll
/LocationBackgroundTask/bin/x64/Debug/System.AppContext.dll
/LocationBackgroundTask/bin/x64/Debug/Reference/LocationBackgroundTask.winmd
/LocationBackgroundTask/bin/x64/Debug/netstandard.dll
/LocationBackgroundTask/bin/x64/Debug/mscorlib.dll
/LocationBackgroundTask/bin/x64/Debug/Microsoft.Win32.Primitives.dll
/LocationBackgroundTask/bin/x64/Debug/Microsoft.VisualBasic.dll
/LocationBackgroundTask/bin/x64/Debug/Microsoft.CSharp.dll
/LocationBackgroundTask/bin/x64/Debug/LocationBackgroundTask.winmd
/LocationBackgroundTask/bin/x64/Debug/LocationBackgroundTask.pdb
/LocationBackgroundTask/bin/x64/Debug/clrcompression.dll
/LocationBackgroundTask/.vs/LocationBackgroundTask/v16/Server/sqlite3/storage.ide
/LocationBackgroundTask/.vs/LocationBackgroundTask/v16/Server/sqlite3/db.lock
/LocationBackgroundTask/.vs/LocationBackgroundTask/v16/.suo
/LocationBackgroundTask/obj/project.assets.json
/LocationBackgroundTask/obj/LocationBackgroundTask.csproj.nuget.g.targets
/LocationBackgroundTask/obj/LocationBackgroundTask.csproj.nuget.g.props
/LocationBackgroundTask/obj/LocationBackgroundTask.csproj.nuget.dgspec.json
/LocationBackgroundTask/obj/LocationBackgroundTask.csproj.nuget.cache
/LocationBackgroundTask/obj/ARM64/Release/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/ARM64/Debug/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/ARM/Release/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/ARM/Debug/LocationBackgroundTask.csprojAssemblyReference.cache
/LocationBackgroundTask/obj/ARM/Debug/LocationBackgroundTask.csproj.CoreCompileInputs.cache
/LocationBackgroundTask/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BackgroundTask/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
