################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/LocationBackgroundTask/obj/x86/Release/LocationBackgroundTask.csproj.CoreCompileInputs.cache
